* { margin: 0; }

.body {
	background-image: url("./../images/coffee-wallpaper.jpg");
	background-position: center top;
}

.nav {
	/*Flexbox*/
	display: flex;
	justify-content: space-between;
	padding-right: 32px;
	
	list-style: none;
	background-color: sandybrown;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 32px;
	font-family: "Coffee";
	color: white;
	font-size: 24px;
}

.nav a:hover {background-color: #964D00}

.nav a:active {
  background-color: #964D00;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

.recaffeinate {
	color: white;
	padding: 16px;
	
}
.recaffeinate form {
	max-width: 200px;
	background-color: rgba(244, 166, 98, 0.75);
	border-radius: 32px;
	text-align: center;
	padding: 16px;
	font-family: 'Coffee';
}

.main {
	padding-top: 128px;
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-family: 'Coffee';
}

.h1style {
	padding-top: 32px;
	font-size: 32px;
}

.h1style h1 {
	padding-top: 0px;
	font-size: 24px;
}

.main form {
	margin-top: 48px;
	padding: 16px;
	background-color: rgba(244, 166, 98, 0.75);
	border-radius: 32px;
}

.dot {
	height: 128px;
	width: 256px;
	background-color: chocolate;
	border-radius: 100%;
	display: inline-block;
}

@media all and (max-width: 500px) {
	.nav {
		flex-direction: column;
	}
	.nav a {
		text-align: center;
		padding: 16px;
		border-bottom-style: solid;
	}
	.nav div a{
		border-bottom-style: none;
	}
}
@font-face { font-family: Coffee; src: url('EspressoRoast-Caps.otf');}

@font-face { font-family: CoffeeScript; src: url('EspressoRoast-Script.otf');}
