* { margin: 0; }

.body {
	background-image: url("./../images/coffee-wallpaper.jpg");
	background-position: center bottom;
}

.nav {
	/*Flexbox*/
	display: flex;
	justify-content: space-between;
	padding-right: 32px;
	
	list-style: none;
	background-color: sandybrown;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 32px;
	font-family: "Coffee";
	color: white;
	font-size: 32px;
}

.main {
	padding-top: 128px;
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-family: 'CoffeeScript';
}

.h1style {
	padding-top: 8px;
}

.main form {
	margin-top: 48px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(244, 166, 98, 0.75);
	border-radius: 32px;
}

.dot {
	height: 128px;
	width: 256px;
	background-color: chocolate;
	border-radius: 100%;
	display: inline-block;
}

@media all and (max-width: 500px) {
	.nav {
		flex-direction: column;
	}
	.nav a {
		text-align: center;
		padding: 16px;
	}
}
@font-face { font-family: Coffee; src: url('EspressoRoast-Caps.otf');}

@font-face { font-family: CoffeeScript; src: url('EspressoRoast-Script.otf');}