* { margin: 0; }

.body {
	background-image: url("beans.jpg");
	
	background-position: center-bottom;
	background-size: 1500px, 1400px;
	text-align: center;
	font-family: 'Coffee';
	background-size: cover;
}

.nav {
	/*Flexbox*/
	display: flex;
	justify-content: space-between;
	padding-right: 32px;
	
	list-style: none;
	background-color: sandybrown;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 32px;
	font-family: "Coffee";
	color: white;
	font-size: 32px;
}
.nav a:hover {background-color: #964D00}

.nav a:active {
  background-color: #964D00;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.rating img {
	display: block;
	margin-right: 16px;
}

.profilepic {
  box-shadow: 0 4px 8px 0 rgba(1, 2, 3, 0.2);
  max-width: 425px;
  margin: auto;
}

.main form {
	margin-top: 100px;
	margin: 32px;
	padding: 16px;
	background-color: rgba(244, 166, 98, 0.75);
	border-radius: 25px;
}



@font-face { font-family: Coffee; src: url('EspressoRoast-Caps.otf');}
@font-face { font-family: CoffeeScript; src: url('EspressoRoast-Script.otf');}