* { margin: 0; }

.body {
	background-image: url("beans.jpg");

	background-position: center-bottom;
	background-size: 1500px, 1400px;
}

.nav {
	/*Flexbox*/
	display: flex;
	justify-content: space-between;
	padding-right: 40px;
	
	list-style: none;
	background-color: sandybrown;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 32px;
	font-family: "Coffee";
	color: white;
	font-size: 32px;
}
.nav a:hover {background-color: #964D00}

.nav a:active {
  background-color: #964D00;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

.main {
	padding-top: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}





.profilepic {
  box-shadow: 0 4px 8px 0 rgba(1, 2, 3, 0.2);
  max-width: 425px;
  margin: auto;
  text-align: center;
}

.profileinfo {
	text-align: center;
}

.column {

 margin: auto;
 float: center;
 display: inline-block;
 width:24.72%;
  text-align: center;
}


.row::after {

  clear: both;
  display: table;
}


.Rank{
	text-align: center;
}


.main {
	padding-top: 128px;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-family: 'CoffeeScript';
}

.h1style {
	padding-top: 8px;
}

.main form {
	margin-top: 750px;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: rgba(244, 166, 98, 0.75);
	border-radius: 32px;
}

.media all and (max-width: 500px) {
		padding: 16px;
	}
}


.graph {
  text-align: center;
}



@font-face { font-family: Coffee; src: url('EspressoRoast-Caps.otf');}
@font-face { font-family: CoffeeScript; src: url('EspressoRoast-Script.otf');}